h1 {
text-align: center;
}
#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#score-tracker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 250px 0 250px;
}
#play-display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 400px 0 400px; 
}
button {
   margin: 0 10px 0 10px;
}
#player-choice-display {
    font-size: 50px;
    width: 150px
}
#comp-choice-display {
    font-size: 50px;
    width: 150px;
}