h1 {
    margin-bottom: 0;
    text-align: center;
}
#subhead {
    text-align: center;
    font-size: 16px;
    margin: 10px 0 25px 0;
}
body {
    background-color: rgb(179, 233, 255);
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 300px 0 300px;
}
#player-score-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}
#computer-score-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}
#player-score {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 75px;
}
#computer-score {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 75px;
}
#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 30px;
    border: 1px solid black;
    font-size: 16px;
}
#you {
    margin: 0;
}
#comp {
    margin: 0;
}
button:hover {
    cursor: pointer;
}
button:focus { outline:0 !important; }
#you-played-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
#computer-played-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
#you-played {
    margin-top: 0;
}
#computer-played {
    margin-top: 0;
}
#player-choice-display {
    font-size: 50px;
}
#comp-choice-display {
    font-size: 50px;
}
#result-container {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.result {
    position: absolute;
    font-size: 50px;
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes fade {
    0% {
        opacity: 100%
    }
    70% {
        opacity: 100%
    }
    100% {
        opacity: 0%
    }
}